.galeria {
    margin: 0;
    /*Remover as margens padrão do navegador*/
    padding: 0;
    /*Remover os preenchimentos padrão do navegador*/
    box-sizing: border-box;
    /*Garantem que as birdas não aumentem o tamanho dos elementos*/
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilizar a barra de navegação*/
.navbar {
    background-color: #ff1313be;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    /*Remover as margens da lista*/
    padding: 0;
    /*Remover os preenchimentos internos*/
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: 0.4s;
}

.navbar ul li a:hover {
    background-color: #ff2121ea;
    color: #ffd504;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.Botones {
    background-color: #ad3131;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

}

.Botones:hover {
    background-color: #ff2121ea;
    color: #ffd504;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* Container que limita tamanho do Carrosel*/
.slider {
    margin: 20px auto;
    /*Centraliza na tela e da margem no topo*/
    width: 800px;
    /*Largura fixa do carrosel*/
    height: 400px;
    /*Altura fixa do carrosel*/
    overflow: hidden;
    /*Esconde o que estiver fora da caixa (as outras fotos*/
    border-radius: 10px;
    /*Arredonda as bordas do carrosel*/
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    /*Adiciona uma sombra ao carrosel para dar profundidade*/
}

.slider-content {
    width: 400%;
    height: 100%;
    display: flex;
    /*Coloca as imagens uma do lado da outra*/
}

/*Esconde os botões originais*/
.slider-content input {
    display: none;
    /*Esconde os botões RADIO*/
}

.slide-box {
    width: 25%;
    transition: 0.6s;
    /*Tempo de animação de deslize entre as fotos*/
}

/*Garante que a imagem cubra todo o espaço sem distorcer*/
.slide-box img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    /*Garante que a imagem cubra todo o espaço sem distorcer*/
}

/* LOGICA DE MOVIMENTO AJUSTADO PARA 4 IMAGENS */
/* Imagem 1: Margem 0 */
#radio1:checked~.first {
    margin-left: 0;
}

/* Imagem 2: Pula a primeira (25%) */
#radio2:checked~.first {
    margin-left: -25%;
}

/* Imagem 3: pula as duas primeiras (50%) */
#radio3:checked~.first {
    margin-left: -50%;
}

/* Imagem 4: pula as três primeiras (75%) */
#radio4:checked~.first {
    margin-left: -75%;
}



/* ESTILO DOS BOTÕES MANUAIS (BOLINHAS) */
.nav-manual {
    position: absolute;
    /* POSICIONAMENTO FIXO EM RELAÇÃO AO SLIDER */
    width: 800px;
    /* Mesma largura do slider */
    margin-top: -40px;
    /* Joga as bolinhas pra dentro da imagem */
    display: flex;
    justify-content: center;
    /* Centraliza as bolinhas horizontalmente */
}

.manual-btn {
    border: 2px solid white;
    /* Borda branca para visibilidade */
    padding: 5px;
    /* Tamanho das bolinhas */
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    /* Espaçamento entre as bolinhas */
    transition: 0.3s;
    /* Suaviza a mudança de cor no hover */
}

.manual-btn:hover {
    background-color: rgb(255, 255, 255);
}


/* ESTILIZAÇÃO DO RODAPÉ DA PÁGINA */
.rodape-principal {
    background-color: #0b50856f;
    color: #ffffff;
    padding: 40px 0 20px 0;
    margin-top: 50px;
}
.container-rodape{
display: flex;
justify-content:space-around;
align-items: center;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
}
.links-sociais a
{
color:#ffffff;
text-decoration: none;
margin: 0 15px;
font-weight: bold;
transition: 0.3s;
}
.links-sociais a:hover{
    color:blue;
    text-shadow: 0 0 5px(255,255,255,0.2);
}
.rodape-inferior{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 30px;
    padding-top: 20px;
    font-size: 12px;
    opacity: 0.6;
}
.info-copyright p{
    text-align: center;
    margin: 5px 0;
}